<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | <%= user.username %>
    </title>
    <style>
        img {
            max-height: 200px;
            width: auto;
        }

        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <a href="/dashboard">Dashboard</a>
    <a href="/search">Search</a>
    <a href="/new_article">Create a new article</a>
    <a href="/profile">Profile</a>
    <br>

    <!-- Find an alternative to using `user.username` in the ID attribute (as using id="<%= user.username %> ") will break the functionality -->
    <% if (alreadyFollowingParamsUser==false) { %>
        <button class="follow-button" id="<%= user.username %>">Follow this user</button>
    <% } else if (!isSelf) { %>
        <button class="unfollow-button" id="<%= user.username %>">Unfollow this user</button>
    <% } %>

    <div>
        <h2>
            <%= user.username %>
        </h2>
        <img src="<%= user.profile_pic %> " alt="">
        <br>
    </div>

    <% articles.forEach(article=> { %>
        <hr>
        <div>
            <h2>
                <%= article.title %>
            </h2>
            <img src="<%= article.image %> ">
            <br>
            <p>
                <%= article.description %>
            </p>

            <span>
                <% article.tags.forEach(tag=> { %>
                    <a href="/search/<%= tag %> " class="article-tag">
                        <%= tag %>
                    </a>
                    <% }) %>
            </span>
        </div>
    <% }) %>

    <script>
        if (document.getElementsByClassName('follow-button')[0]) {
            document.getElementsByClassName('follow-button')[0].addEventListener('click', function (e) {
                let data = JSON.stringify({ username: e.target.id });
                fetch('/user/follower/add', {
                    method: 'POST', body: data, headers: {
                        "Content-Type": "application/json"
                    },
                    credentials: 'same-origin'
                }).then(function () {
                    window.location.href = "/";
                }).catch(err => {
                    console.error(err);
                    window.location.href = "/";
                });
            });
        } else {
            document.getElementsByClassName('unfollow-button')[0].addEventListener('click', function (e) {
                let data = JSON.stringify({ username: e.target.id });
                fetch('/user/follower/remove', {
                    method: 'POST', body: data, headers: {
                        "Content-Type": "application/json"
                    },
                    credentials: 'same-origin'
                }).then(function () {
                    window.location.href = "/";
                }).catch(err => {
                    console.error(err);
                    window.location.href = "/";
                });
            });
        }
    </script>
</body>

</html>