<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Articles</title>
</head>

<body>
    <a href="/dashboard">Dashboard</a>
    <a href="/search">Search</a>
    <a href="/new_article">Create a new article</a>

    <input type="text" id="searcher" placeholder="search">
    <button id="src-btn">Search</button>

    <% articles.forEach(article=> { %>
        <h2>
            <%= article.title %>
        </h2>

        <p> Created By
            <a href="/profile/<%= article.author.username %> ">
                <%= article.author.username %>
            </a>
        </p>

        <img src="<%= article.image %> " alt="Article Picture">

        <p>
            Description: <%= article.description %>
        </p>

        Tags:
        <% article.tags.forEach(tag=> { %>
            <a href="/search/<%= tag %> ">
                <%= tag %>
            </a>
        <% }) %>
        
    <% }) %>

    <script>
        let srcbtn = document.getElementById('src-btn');
        srcbtn.addEventListener('click', function () {
            window.location = "/search/" + document.getElementById('searcher').value;
        });
    </script>

</body>

</html>